
<div class="sab-select__wrapper" (click)="onFocus()">
  <div class="sab-select__placeholder" *ngIf="placeholderVisible">{{placeholder}}</div>
  <div class="sab-select__selected-value-container">
    <div class="sab-select__selected-value" *ngIf="selected">
      <template [sabTemplate]="selectedTemplate" [sabTemplateItem]="selected.value"></template>
    </div>
  </div>
  <div class="sab-select__input-container">
    <input class="sab-select__input" #selectInput type="text" [value]="text" (blur)="onBlur()" (keydown)="onKeyDown($event)" (keypress)="onKeyPress($event)" (input)="onFilter(selectInput.value)">
  </div>
  <div class="sab-select__buttons">
    <button class="sab-select__expand-button" (click)="onClick()" (mousedown)="$event.preventDefault()"><i class="fa fa-chevron-down"></i>
    </button>
  </div>
</div>
<div class="sab-select__panel" [hidden]="!opened" (mousedown)="$event.preventDefault()">
  <div class="sab-select__items">
    <template *ngIf="headerTemplate" [sabTemplate]="headerTemplate" [sabTemplateContext]="state"></template>
    <div class="sab-select__item" *ngFor="let item of items" [ngClass]="{ &quot;sab-select__item_active&quot;: item === active }" (click)="onSelect(item); $event.preventDefault(); $event.stopPropagation()">
      <template *ngIf="!item.placeholder" [sabTemplate]="itemTemplate" [sabTemplateItem]="item.value" [sabTemplateContext]="state"></template>
      <template *ngIf="item.placeholder" [sabTemplate]="placeholderTemplate" [sabTemplateItem]="item.value" [sabTemplateContext]="state"></template>
    </div>
    <template *ngIf="items.length === 0 &amp;&amp; emptyTemplate" [sabTemplate]="emptyTemplate" [sabTemplateContext]="state"></template>
    <template *ngIf="footerTemplate" [sabTemplate]="footerTemplate" [sabTemplateContext]="state"></template>
  </div>
</div>
<template #defaultTemplate let-item><span [title]="state.textGetter(item)">{{ state.textGetter(item) }}</span></template>